* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* background-image: url('https://i.pinimg.com/originals/e5/80/b8/e580b89a15a47e53d7a88e9b01f8bb8c.jpg'); */
    background-color: rgb(188, 182, 182);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 40px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #ff5c5c;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #ff4242;
  }
  
